.App {
  text-align: center;
  flex: 1 0 auto;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  animation-name: card;
  animation-timing-function: linear;
  animation-duration: 400ms;
  margin-top: 25px;
}

@keyframes card {
  0% {
    opacity: 0;
    margin-top: 0px;
  }
  25% {
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 5px;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 10px;
  }
  75% {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 15px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 20px;
  }
}

main {
  flex: 1 0 auto;
}

.push {
  margin-top: 200px;
}

html,
body {
  height: 100%;
  /* border: crimson solid 1px; */
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
